body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #222; /* Dark grey background */
    overflow: hidden; /* Prevent scrolling */
}

#leftPanel {
    width: 25%;
    max-width: 25%;
    background-color: #303030;
    color: white;
    position: relative;
    display: none;
    flex-shrink: 0;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

#leftPanelContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px;
    padding: 0px;
}

#closedPanelContent {
    position: fixed;
    top: 0px; /* Adjust top padding */
    left: 0px; /* Match the padding with other buttons */
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
}

.logo {
    max-width: calc(100% - 20px);
    margin: 10px;
    align-items: center;
}

.fileTreeToggle {
    display: flex;
    align-items: center;
    margin: 5px 0 0 5px; /*top right bottom left */
    cursor: pointer;
    /*transition: transform 0.3s;*/
    max-width: calc(100% - 40px);
    padding: 0px;
}

.fileTreeToggle::before {
    transition: .5s;
    transform: scale(.9);
    transition: transform 0.3s;
    margin: 5px 0 0 5px; /*top right bottom left */
    padding: 0px;
}

.fileTreeToggle:hover {
    transform: scale(1.1); /* Uniform scaling for both icon and text */
    transition: transform 0.3s;
    transform-origin: left; /* Grow to the right */
    margin: 5px 0 0 5px; /*top right bottom left */
    padding: 0px;
}

.fileTreeToggle .icon {
    width: 25px;
    height: 25px;
}

.fileTreeToggle .text {
    color: white;
    margin-left: 5px; /* Ensure a consistent 5px margin */
    font-size: 16px; /* Adjust as needed */
}

.resize-handle {
    width: 5px;
    background-color: #555;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#fileTreeContainer {
    padding: 0px 10px 10px; //top, left+right, bottom
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 20px); /* Adjust for padding */
}

/* Hide bullets in the file tree */
#fileTree {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove padding */
}

#fileTree li {
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    padding-left: 20px; /* Add space for the toggle icon */
}

#fileTree li .toggle-icon {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
}

#fileTree li ul {
    list-style-type: none; /* Remove bullets from sub-lists */
    padding-left: 20px; /* Add indentation for sub-lists */
}


#mainContent {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: width 0.3s; /* Smooth transition for resizing */
}

.mediaControls {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#playPauseButton {
    position: absolute; /* Ensure correct positioning */
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999; /* Ensure play/pause stays on top of other content */
}

#hoverArea {
    position: absolute;
    top: 0;
    left: 25%; /* Center the hover area */
    width: 50%;
    height: 100%;
    background-color: transparent; /* Invisible, only for detecting hover */
    z-index: 1; /* Below buttons but above the image */
    display: flex;
    align-items: center;
    justify-content: center;
}

#hoverArea:hover + #playPauseButton,
#playPauseButton:hover {
    opacity: 1;
}

#playPauseButton .fa-play,
#playPauseButton .fa-pause {
    font-size: 24px;
}

#playPauseButton .fa-pause {
    display: none;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Ensure the image does not exceed the main content width */
    height: 100%;
    position: relative; /* Ensure absolute positioned elements are relative to this container */
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#prevButton {
    left: 20px;
    z-index: 100; /* Ensure it stays above other elements */
}

#nextButton {
    right: 20px;
}

.gallery {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 9999; /* Ensure link stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery:hover {
    background-color: #0056b3;
}

.gallery .icon {
    width: 25px;
    height: 25px;
    display: block;
}
