body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #222; /* Dark grey background */
    overflow: hidden; /* Prevent scrolling */
}

#leftPanel {
    width: 25%;
    max-width: 25%;
    background-color: #303030;
    color: white;
    position: relative;
    display: none;
    flex-shrink: 0;
    overflow: auto;
}

.resize-handle {
    width: 5px;
    background-color: #555;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#fileTreeContainer {
    padding: 20px 10px 10px;
    overflow-y: auto;
    height: calc(100% - 20px); /* Adjust for padding */
}

#fileTree {
    list-style: none;
    padding: 0;
}

#fileTree li {
    margin: 5px 0;
    cursor: pointer;
}


#mainContent {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: width 0.3s; /* Smooth transition for resizing */
}

#menuButton {
    position: fixed;
    top: 20px; /* Adjust top padding */
    left: 20px; /* Match the padding with other buttons */
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

#playPauseButton {
    position: absolute; /* Ensure correct positioning */
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999; /* Ensure play/pause stays on top of other content */
}

#hoverArea {
    position: absolute;
    top: 0;
    left: 25%; /* Center the hover area */
    width: 50%;
    height: 100%;
    background-color: transparent; /* Invisible, only for detecting hover */
    z-index: 1; /* Below buttons but above the image */
    display: flex;
    align-items: center;
    justify-content: center;
}

#hoverArea:hover + #playPauseButton,
#playPauseButton:hover {
    opacity: 1;
}

#playPauseButton .fa-play,
#playPauseButton .fa-pause {
    font-size: 24px;
}

#playPauseButton .fa-pause {
    display: none;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Ensure the image does not exceed the main content width */
    height: 100%;
    position: relative; /* Ensure absolute positioned elements are relative to this container */
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#prevButton {
    left: 20px;
    z-index: 100; /* Ensure it stays above other elements */
}

#nextButton {
    right: 20px;
}

.gallery {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 9999; /* Ensure link stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery:hover {
    background-color: #0056b3;
}

.gallery .icon {
    width: 25px;
    height: 25px;
    display: block;
}
