body {
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark grey background */
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#mainContent {
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#playPauseButton {
    position: absolute; /* Ensure correct positioning */
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999; /* Ensure play/pause stays on top of other content */
}

#hoverArea {
    position: fixed;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    background-color: transparent; /* Invisible, only for detecting hover */
    z-index: 1; /* Below buttons but above the image */
}

#hoverArea:hover + #playPauseButton {
    opacity: 1;
}

#playPauseButton .fa-play,
#playPauseButton .fa-pause {
    font-size: 24px;
}

#playPauseButton .fa-pause {
    display: none;
}

#imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#prevButton {
    left: 20px;
}

#nextButton {
    right: 20px;
}

.gallery {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 9999; /* Ensure link stays on top of other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery:hover {
    background-color: #0056b3;
}

.gallery .icon {
    width: 50px;
    height: 50px;
    display: block;
}
