<!-- mainContent.html -->
<div id="loading" class="loading" style="display: flex;">
    <div class="loading-content">
        <h1 id="loading-text">LOADING</h1>
        <p id="loading-subtext">Fetching images...</p>
        <div class="progress-bar-container">
            <div id="progress" class="progress-bar"></div>
        </div>
    </div>
</div>
{% if view == 'slideshow' %}
    <div class="slideshow-container">
        <div class="slideshow">
            {% include 'slideshow.html' %}
        </div>
    </div>
{% elif view == 'settings' %}
    {% include 'settings.html' %}
{% else %}
    <div class="gallery-container">
        {% include 'gallery.html' %}
        <div id="pagination"></div>
    </div>
{% endif %}
