<div id="mediaContainer">
    <div id="slideshowImageContainer">
        <img src="" alt="Displayed Image" id="slideshowDisplayedImage" style="display: none;">
        <video id="slideshowDisplayedVideo" controls style="display: none;"></video>
        <div id="controlsContainer">
            <button id="prevButton" class="mediaControls">◀</button>
            <button id="playPauseButton" class="mediaControls">
                <i class="fas fa-play"></i>
                <i class="fas fa-pause" style="display: none;"></i>
            </button>
            <button id="nextButton" class="mediaControls">▶</button>
        </div>
    </div>
</div>
